/*
█▀▀ █░░ █▀▀ ▀▄▀
█▀░ █▄▄ ██▄ █░█
*/

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.flex-col {
    flex-direction: column;
}

.flex-col-reverse {
    flex-direction: column-reverse;
}

@media screen and (max-width: 767px) {
    .flex-row-md {
        flex-direction: row;
    }

    .flex-col-md {
        flex-direction: column;
    }
}

/*
░░█ █░█ █▀ ▀█▀ █ █▀▀ █▄█ ▄▄ █▀▀ █▀█ █▄░█ ▀█▀ █▀▀ █▄░█ ▀█▀
█▄█ █▄█ ▄█ ░█░ █ █▀░ ░█░ ░░ █▄▄ █▄█ █░▀█ ░█░ ██▄ █░▀█ ░█░
*/

.justify-content-center {
    justify-content: center;
}

.justify-content-flex-start {
    justify-content: flex-start;
}

.justify-content-flex-end {
    justify-content: flex-end;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-space-around {
    justify-content: space-around;
}

@media screen and (max-width: 767px) {
    .justify-content-center-md {
        justify-content: center;
    }

    .justify-content-space-around-md {
        justify-content: space-around;
    }
}

/*
▄▀█ █░░ █ █▀▀ █▄░█ ▄▄ █ ▀█▀ █▀▀ █▀▄▀█ █▀
█▀█ █▄▄ █ █▄█ █░▀█ ░░ █ ░█░ ██▄ █░▀░█ ▄█
*/

.align-items-center {
    align-items: center;
}

.align-items-flex-start {
    align-items: flex-start;
}

.align-items-flex-end {
    align-items: flex-end;
}

@media screen and (max-width: 767px) {
    .align-items-center-md {
        align-items: center;
    }
}
